.container__recent--song{
  width: 387px;
  height: 494px;
  background: rgba(17, 157, 164, 0.45);
  border-radius: 29px;
  float: right;
  margin-left: 154px;
  margin-top: 112px;
}

.recent__song--info{
  text-align: center;
}

.music__img img{
  width: 58%;
}

.recent__song--paragraph{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #fff;
}



.artist__name--container{
  margin-top: 78px;
  height: 551px;
  width: 277px;
  background: #1F2041;
  float:left;
}

.home-content-1__p{
  color: #fff;
}


.info{
  margin-bottom: 10px;
  margin-top: 80px;
  width: 873px;
  height: 550px;
  background: rgba(247, 241, 222, 0.56);
  border-radius: 6px;
  float: left;
}

.songs{
  width: 873px;
  height: 298px;
  background: rgba(247, 241, 222, 0.56);
  border-radius: 6px;
  float: left;
}


.artist__img--cover, .album__img{
  width: 25%;
}

.info, .songs{
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 76px;
  height: 552px;
}

.info__artist, .songs__container{
  width: 500px;
  margin: 10px 10px 100px 100px;
}

/* Estado (clases asignadas por Javascript) */

.js-active {
  padding: 19px 79px;
  background: #4B3F72;

}

.js-content-hidden {
  display: none;
}

.tab-content-info{
  width: 700px;
}
.tabs__item{
  font-family: Righteous;
  font-size: 18px;
  color: #fff;
  margin-left: 10px;
  line-height: 140px ;
}

.artist__image{
  clip-path: polygon(50% 0%, 68% 28%, 98% 35%, 75% 58%, 79% 91%, 49% 78%, 21% 91%, 24% 60%, 2% 35%, 31% 28%);
  width: 200px;
  height: 200px;
  display: flex;
  float: left;
}

.artist__description{
  display: flex;
  float: left;
  font-family: Poppins;
  font-size: 18px;
  color: #fff;
  margin-top: 8%;
  margin-left: 3%;
  width: 400px;
}

.image_album{
  clip-path: polygon(50% 0%, 68% 28%, 98% 35%, 75% 58%, 79% 91%, 49% 78%, 21% 91%, 24% 60%, 2% 35%, 31% 28%);
  width: 100px;
  height: 100px;
  float: left;
}

.name__song{
  font-family: Poppins;
  font-size: 18px;
  color: #fff;
  float: left ;
  margin-left: 10%;
  padding-top: 4%;
}

.name__album{
  font-family: Poppins;
  font-size: 18px;
  color: #fff;
  float: left;
  margin-left: 10%;
  padding-top: 4%;
}

.list__artist--song{
  list-style: none;
  width: 100%;

}
.list__artist--song li{
  width: 100%;
  margin-top: 10px;

}
a.button__artist{
  float: right;
  margin-left: 0%;
}

.border {
  border-bottom: 2px solid #FFE4AD;
}


