// Paleta normal

$dark-purple: #1F2041;
$purple: #4B3F72;
$dark-blue-green: #1E7B99;
$blue-green: #119DA4;
$ligth-yellow:#FFE4AD;
$bones-white:#F7F1DE;

// Escala de grises

$black: #232323;
$dark-gray:#484848;
$medium-gray: #9B9B9B;
$ligth-gray: #E6E6E6;
$white: #fff;

// Fonts

$title-font: 'Righteous', cursive;
$paragraph-font: 'Poppins', sans-serif;

